[Unit]
Description=Write list of packages to a file for backup/restoration

[Service]
Type=oneshot
ExecStart=/home/martin/dotfiles/maintenance/scripts/backup-packlist.sh

[Install]
WantedBy=multi-user.target

