[Unit]
Description=Rsync docker volumes to a remote called "gdrive" that should be preconfigured

[Timer]
Unit=backup-packlist.service
OnCalendar=daily
Peristent=True

[Install]
WantedBy=timers.target
